@page "/"
@using GUI3Droid.Components.Pages
@model GUI3Droid.Components.Pages.home

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>
<div>
    <table>
        <thead>
        <tr>Users</tr>
        </thead>
        <tbody>
        
        @foreach(var user in @home.Users){
        <tr>
            <td>@user</td>
        </tr>
        }
        
        </tbody>
    </table>

</div>
</body>
</html>